.opensans {
  font-family: 'Open Sans Condensed', sans-serif !important;
}

.lobster {
  font-family: 'Lobster', cursive !important;
}

.cinzel {
  font-family: 'Cinzel Decorative', cursive !important;
}

.alegreya {
  font-family: 'Alegreya', serif !important;
}

.inline {
  display: inline-block !important;
}

.inline-not-block {
  display: inline !important;
}
